
.CRSL-container {
  background-color: black;
  border: solid 3px black;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.CRSL-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: .5s;
}

.CRSL-back-button,
.CRSL-forward-button {
  height: 60px;
  width: 40px;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.0);
  transition: .2s;
}
.CRSL-back-button svg,
.CRSL-forward-button svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  fill: rgb(255, 255, 255, 0.6);
}
.CRSL-back-button:hover,
.CRSL-forward-button:hover {
  background-color: rgb(0, 0, 0, 0.75);
  cursor: pointer;
}
.CRSL-back-button:active,
.CRSL-forward-button:active {
  height: 55px;
  background-color: rgb(0, 0, 0, 0.9);
  transition: .1s;
}
.CRSL-back-button:hover svg,
.CRSL-forward-button:hover svg {
  fill: rgb(255, 255, 255);
}
.CRSL-back-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: -3px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.CRSL-forward-button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: -3px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
